@import "../../element-scss/common/var.scss";

// 提货报价
.upgoods{
	
	.form-inline{	
		.el-input{
			
			max-width: 150px;
		}
	}
	
	.cell{
		text-align: center;
	}
	
	.upgoods-page{
		margin-top: 20px;
		text-align: center;
		.el-pagination__total{
			margin: 0 10px 0 20px;
		}
	}
}


// 提货报价-详情
.upgoods-dtl{
	
	
}

//  提报规则
.upgoods-rule{
	

	
}